body{
    margin:0;
    font-family:Arial, sans-serif;
     background-color:#f4f6f9;
}
header{
    background-color:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
}
nav{
  
    background-color:white;
    padding:15px;
    display:flex;
    justify-content:center;
    gap:100px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    margin-bottom:30px;
}
nav a{
    text-decoration:none;
    color:#1e293b;
    font-weight:bold;
}
nav a:hover{
    color:#2563eb;
}
.search-container{
    text-align:center;
    margin:30px 0;
}
.search-container input{
    width:850px;
    padding:13px;
    border:2px solid #ddd;
    border-radius:10px;
    font-size:16px;
}
.hero{
    text-align:center;
    padding:80px 20px;
    margin:30px auto;
    width:73%;
    border-radius:20px;
     background:#1e293b;

    color:white;
}

.hero h2{
    font-size:40px;
    margin-bottom:15px;
}
.hero p{
    font-size:18px;
    margin-bottom:25px;
}
.hero-btn{
    background:white;
    color:#1e293b;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
}
.hero-btn:hover{
   background:#e2e8f0;
    transform:scale(1.05);
}
.stats{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:50px;
    margin-bottom:50px;
}
.stat-box{
    background:white;
    width:180px;
    padding:20px;
    text-align:center;

    border-radius:15px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.stat-box h3{
    color:#2563eb;
    font-size:28px;
    margin-bottom:10px;
}
.stat-box p{
    color:#64748b;
}
.categories{
  margin-top:60px;
  text-align:center;

    display:flex;
    justify-content:center;
    gap:100px;
    margin-top:30px  ;
    margin-bottom:60px;
}
.category{
    width:120px;
    padding:15px;
    text-align:center;
    border:1px solid #ddd;
    border-radius:12px;
    background:white;
    cursor:pointer;
    font-size:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    background-color:#eff6ff;
}


.category:hover{
    transform:translateY(-5px);
}
.featured-events{
    display:flex;
    justify-content:center;
    gap:25px;
    margin:30px 0;
}
.event-card{
    width:200px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
.event-card:hover{
    transform:translateY(-5px);
}
.event-details{
    text-align:center;
    margin-left:auto;
    
}
.event-banner{
    height:100px;
    border-radius:10px;
    margin-bottom:15px;
}

.music-banner{
    background:#f59e0b;
}
.sports-banner{
    background:#22c55e;
}

.tech-banner{
    background:#3b82f6;
}
.bike-banner{
    background:#ef4444;
}
.hackathon-banner{
    background:#8b5cf6;
}

button{
  margin-left:40px;
  
    width:100px;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}
button:hover{
    background:#1d4ed8;
}
h2{
    text-align:center;
}

/*  Title Page  */

.page-title{
    text-align:center;
    margin:40px 0;
}

.page-title h2{
    font-size:36px;
    color:#1e293b;
}

.page-title p{
    font-size:18px;
    color:#64748b;
}
.events-container{
    width:90%;
    margin:40px auto;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}
footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}